<div class="container mt-3">
  <h3 *ngIf="editMode">Edit Recipe</h3>
  <h3 *ngIf="!editMode">Add New Recipe</h3>

  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Name:</label>
      <input type="text" class="form-control" [(ngModel)]="recipe.name" name="name" required />
    </div>

    <div class="mb-3">
      <label>Description:</label>
      <textarea class="form-control" [(ngModel)]="recipe.description" name="description" required></textarea>
    </div>

    <button class="btn btn-primary" type="submit">
      {{ editMode ? 'Update Recipe' : 'Add Recipe' }}
    </button>
  </form>
</div>
