<div class="recipe-detail" *ngIf="recipe">
  <h3>{{ recipe.name }}</h3>
  <img [src]="recipe.imagePath" alt="{{ recipe.name }}" height="400" width="500">
  <p>{{ recipe.description }}</p>

  <ul>
    <li *ngFor="let ingredient of recipe.ingredients">
      {{ ingredient.name }} ({{ ingredient.amount }})
    </li>
  </ul>

  <!-- Dropdown Button -->
  <div class="dropdown">
    <button class="manage-btn" (click)="toggleDropdown()">
      Manage Recipe ▼
    </button>

    <ul *ngIf="showDropdown" class="dropdown-menu">
      <li (click)="onEditRecipe()"> Edit</li>
      <li (click)="onDeleteRecipe()">Delete</li>
      <li (click)="addToShoppingList()">Add Ingredients to Shopping List</li>
    </ul>
  </div>
</div>
