/* You can add global styles to this file, and also import other style files */
body {
  background-color: #faf9fc;
  font-family: "Poppins", sans-serif;
}

.container {
  margin-top: 30px;
}

.recipe-book {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.recipe-item {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.recipe-item img {
  width: 80px;
  height: 60px;
  border-radius: 8px;
  margin-right: 15px;
}

.recipe-item h5 {
  margin: 0;
  color: #333;
}

.recipe-item p {
  margin: 0;
  font-size: 14px;
  color: #777;
}
button {
  background-color: #ba71cc;
  color: white;;
  border: none;
  gap: 8px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}