.home { padding:24px; }
.intro h1{ margin:0 0 8px 0; font-size:1.6rem; }
.btn{
  display:inline-block; padding:8px 12px; margin-right:8px; border-radius:6px;
  text-decoration:none; background:#06b6d4; color:white; font-weight:600;
}
.btn.secondary{ background:#f59e0b; color:#fff; }
:host {
  display: block;
  height: 100vh; /* full screen height */
  background-image: url('https://img.freepik.com/premium-photo/white-background-surrounded-by-border-various-ingredients-burger_559896-31820.jpg');
  background-size: cover;
}
:host::before {
  content: "";
  position: absolute;
}