<main class="home">
  <section class="intro">
    <h1>Recipe Manager</h1>
    <p>here you can see our recipes ,add recipe and also add necessary ingredient to your shopping list</p>
    <div class="home-links">
      
      <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/recipes" class="btn">View Recipes</a>
      <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/shopping-list" class="btn secondary">Shopping List</a>
    </div>
  </section>
</main>
